<label>ServerName</label>
<input type="text" class="form-control" [(ngModel)]="serverName">
<!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)"> -->
<p *ngIf="serverName !== ''; else noServer">{{serverName}}</p>
<ng-template #noServer>
  <p>No server was created!</p>
</ng-template>
<hr>
<button class="btn btn-primary" [disabled]="serverName === ''" (click)="serverName = ''"> Reset ServerName </button>
<hr>
<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()"> Add server </button>
<p>{{ createServerStatus }}</p>
<p>servers works!</p>

<app-server *ngFor="let sv of servers" [svName]="sv"></app-server>

<button class="btn btn-primary" (click)="onToggleSecret()"> show secret </button>
<p *ngIf="showSecret">Tu nguyen</p>

<p [ngStyle]="{color: count<2 ? 'black' : 'yellow'}">{{ count }}</p>

