<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <!-- <button type="button" class="toggle" (click)="setCollapse()">
      </button> -->
      <a href="#" class="navbar-brand">Recipe Book</a>
    </div>
    <div class="navbar-collapse"  (window.resize)="collapsed">
      <ul class="nav navbar-nav">
        <li><a routerLink="/recipes" (click)="onSelect('recipe')">Recipes</a></li>
        <li><a routerLink="/shopping-list" (click)="onSelect('shopping-list')">Shopping list</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" role="button" (click)="setCollapse(2)">Manage <span class="caret"></span></a>
          <ul class="dropdown-menu" [ngStyle]="{display: collapsed[2] ? 'none' : 'block'}">
            <li><a href="#">Save Data</a></li>
            <li><a href="#">Fetch Data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
