table {
  width: 100%;
}

section {
  display: table;
}

.CRUD {
  text-align: right;
}

.loading {
  justify-content: center;
  display: flex;
}

.mat-dialog-actions {
  display: flex;
  flex-direction: row-reverse;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.overlay{
  height: 100%;
  width:100%;
  background-color:rgba(0, 0, 0, 0.286);
  z-index:    10;
  top:        0;
  left:       0;
  position:   absolute;
}

.mat-elevation-z8 {
  padding: 16px;
}

.search-create {
  display: flex;
  justify-content: space-between;
}

.width-30 {
  width: 30%;
}
