<div class="profile">
  <div class="overlay" *ngIf="isProcess">
    <div class="center">
      <mat-progress-spinner style="margin:0 auto;" diameter="40" mode="indeterminate" color="accent">
      </mat-progress-spinner>
    </div>
  </div>

  <h2> Profile </h2>
  <div mat-dialog-content [formGroup]="userForm">
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput formControlName="username">
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
    <div *ngIf="isChangePassword">
      <mat-form-field>
        <mat-label>Old Password</mat-label>
        <input type="password" matInput required formControlName="oldPw">
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>New Password</mat-label>
        <input type="password" matInput required formControlName="newPw">
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions style="display: block; margin-bottom: 0;">
    <button mat-button class="btnChangePassword" (click)="onChangePassword($event)">{{ isChangePassword ? "Cancel" : "Change Password"}}</button>
    <button mat-button color="warn" (click)="sendRequest($event)" [disabled]="!userForm.valid || (userForm.get('name').value === user.name && !isChangePassword)">Edit</button>
    <br>
    <button mat-flat-button color="warn" [routerLink]="['./user/logout']"><span class="glyphicon glyphicon-off"></span> Logout</button>
  </div>
</div>
