<p>
  <mat-toolbar>
   <button [routerLink]="['./book']" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>home</mat-icon>
  </button>
  <span [routerLink]="['./book']" class="pointer">Book Management</span>
  <button *ngIf="isLogined" [routerLink]="['./book']" class="space" aria-label="Example icon-button with menu icon">Book</button>
  <button *ngIf="isLogined" [routerLink]="['./category']" class="space" aria-label="Example icon-button with menu icon">Category</button>
  <button *ngIf="isLogined" [routerLink]="['./author']" class="space" aria-label="Example icon-button with menu icon">Author</button>
  <button *ngIf="user?.role==='MANAGER' && isLogined" [routerLink]="['./user']" class="space" aria-label="Example icon-button with menu icon">User</button>
  <span class="example-spacer"></span>

  <span *ngIf="isLogined" style="font-size: 14px;">Hi, </span>
  <div *ngIf="isLogined" class="btn-group" appDropdown>
    <button mat-stroked-button type="button" class="dropdown-toggle">
      {{user.name}} <span class="caret"></span>
    </button>
    <app-profile class="dropdown-menu dropdown-menu-right"></app-profile>
  </div>
  </mat-toolbar>
</p>
