<p>
  <mat-toolbar>
   <button [routerLink]="['./book']" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>home</mat-icon>
  </button>
  <span [routerLink]="['./book']" class="pointer">Book Management</span>
  <button [routerLink]="['./book']" class="space" aria-label="Example icon-button with menu icon">Book</button>
  <button [routerLink]="['./category']" class="space" aria-label="Example icon-button with menu icon">Category</button>
  <button [routerLink]="['./author']" class="space" aria-label="Example icon-button with menu icon">Author</button>
  <button [routerLink]="['./user']" class="space" aria-label="Example icon-button with menu icon">User</button>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
   <mat-icon>share</mat-icon>
 </button>
</mat-toolbar>
</p>
