.example-spacer {
  flex: 1 1 auto;
}

.pointer {
  cursor: pointer;
  outline: none;
}

.space {
  margin: 0px 5px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 14px;
  outline: none;
}

.dropdown-menu {
  width:250px;
  text-align: center;
  padding: 5px;
}
