<div class="mat-elevation-z8">
  <div class="search-create">
    <mat-form-field class="example-full-width">
      <mat-label>Name or Username Search</mat-label>
      <input matInput maxlength="100" [formControl]="searchFormControl"
             placeholder=" City of Bones ">
    </mat-form-field>

    <div class="example-button-row">
      <button mat-raised-button color="primary" (click)="openDialog()">Create User</button>
    </div>
  </div>

  <pre *ngIf="dataSource?.length === 0">
    No results
  </pre>

  <div class="spinner" *ngIf="!(userObs$ | async)">
    <mat-spinner></mat-spinner>
  </div>

  <table mat-table [dataSource]="dataSource ? dataSource : userObs$ | async" *ngIf="(userObs$ | async) && dataSource?.length !== 0" >

    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element; let i = index"> {{ i + 1 }} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef class="pointer" (click)="sort('name')"> <div class="sort">Name <mat-icon aria-hidden="false" aria-label="Example home icon">sort</mat-icon></div> </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef class="pointer" (click)="sort('username')"> <div class="sort">Username <mat-icon aria-hidden="false" aria-label="Example home icon">sort</mat-icon></div> </th>
      <td mat-cell *matCellDef="let element"> {{element.username}} </td>
    </ng-container>

    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef> <div class="sort">Role</div> </th>
      <td mat-cell *matCellDef="let element"> {{element.role.charAt(0)+element.role.slice(1).toLowerCase()}} </td>
    </ng-container>

    <ng-container matColumnDef="CRUD">
      <th mat-header-cell *matHeaderCellDef>  </th>
      <td mat-cell *matCellDef="let element" class="CRUD">
        <button mat-raised-button (click)="openDialog(element.id, element.username, element.name, element.password, element.role)">Edit</button>
        <button mat-raised-button color="warn" (click)="onDelete(element.id)">Delete</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [length]="totalItems" [pageSizeOptions]="[5, 10, 20]" (page)="pageChange($event)" *ngIf="dataSource?.length !== 0" showFirstLastButtons></mat-paginator>
</div>
