table {
  width: 100%;
}

section {
  display: table;
}

.spinner {
  display: flex;
  justify-content: center;
}

.CRUD {
  text-align: right;
}

.pointer {
  cursor: pointer;
}

.sort {
  position: relative;
}

.mat-icon {
  position: absolute;
  top: -4px;
}

.mat-elevation-z8 {
  padding: 16px;
}

.search-create {
  display: flex;
  justify-content: space-between;
}
