<div class="mat-elevation-z8">
  <div class="search-create">
    <mat-form-field class="example-full-width">
      <mat-label>Name Search</mat-label>
      <input matInput maxlength="100" [formControl]="searchFormControl"
             placeholder=" City of Bones ">
    </mat-form-field>
    <div class="example-button-row">
      <button mat-raised-button color="primary" [routerLink]="['./create']">Create Book</button>
    </div>
  </div>

  <table mat-table [dataSource]="dataSource ? dataSource : bookObs$ | async">

    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <div *ngIf="dataSource?.length !== 0">
        <td mat-cell *matCellDef="let element; let i = index"> {{ i + 1 }} </td>
      </div>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"><a href="book/{{element.id}}/detail"> {{element.name}} </a></td>
    </ng-container>

    <ng-container matColumnDef="author">
      <th mat-header-cell *matHeaderCellDef>
        <mat-form-field appearance="outline">
          <mat-label>Author</mat-label>
          <mat-select disableRipple (selectionChange)="onSelected($event)">
            <mat-option [value]="">No Select</mat-option>
            <mat-option *ngFor="let item of authorObs$ | async" value="{{item.id}}"> {{ item.name }} </mat-option>
          </mat-select>
        </mat-form-field>
      </th>
      <td mat-cell *matCellDef="let element"> {{element.author.name}} </td>
    </ng-container>

    <ng-container matColumnDef="categories">
      <th mat-header-cell *matHeaderCellDef>
        <mat-form-field appearance="outline">
          <mat-label>Categories</mat-label>
          <mat-select multiple (selectionChange)="onSelected($event)">
            <mat-option *ngFor="let item of categoryObs$ | async" value="{{item.id}}">{{ item.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </th>
      <td mat-cell *matCellDef="let element;"> <span *ngFor="let item of element.categories; let i = index">{{ i===0 ? item.name : ', '+item.name }}</span> </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Price </th>
      <td mat-cell *matCellDef="let element"> {{element.price}} $ </td>
    </ng-container>

    <ng-container matColumnDef="publisher">
      <th mat-header-cell *matHeaderCellDef> Publisher </th>
      <td mat-cell *matCellDef="let element"> {{element.publisher}} </td>
    </ng-container>

    <ng-container matColumnDef="year">
      <th mat-header-cell *matHeaderCellDef> Year </th>
      <td mat-cell *matCellDef="let element"> {{element.year}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns; let element" [routerLink]="['./'+element.id+'/detail']"></tr>
  </table>

  <pre *ngIf="dataSource?.length === 0">
    No results
  </pre>

  <mat-paginator [length]="totalItems" [pageSizeOptions]="[5, 10, 20]" (page)="pageChange($event)" *ngIf="dataSource?.length !== 0" showFirstLastButtons></mat-paginator>
</div>
