
<form class="example-form" [formGroup]="bookDetailForm">
  <div class="cover">
    <picture>
      <source media='(min-width:0px)' srcset="https://material.angular.io/assets/img/examples/shiba2.jpg">
      <img mat-card-image src="" alt="Photo of a Shiba Inu">
    </picture>
  </div>
  <div class="detail">
    <div>
      <mat-form-field class="example-full-width">
          <mat-label>Title</mat-label>
          <input matInput placeholder="Ex. Pizza" formControlName="name">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Author</mat-label>
          <mat-select disableRipple [disabled]="!(onEditMode || onCreateMode)" formControlName="author">
            <mat-option *ngFor="let item of authorObs$ | async" [value]="item.id"> {{ item.name }} </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Publisher</mat-label>
          <input matInput placeholder="Ex. Pizza" formControlName="publisher">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Year</mat-label>
          <input matInput placeholder="Ex. Pizza" formControlName="year">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Categories</mat-label>
          <mat-select multiple [disabled]="!(onEditMode || onCreateMode)" formControlName="categories">
            <mat-option *ngFor="let item of categoryObs$ | async" [value]="item.id">{{ item.name }}</mat-option>
          </mat-select>
        </mat-form-field>

  </div>

  <div>
      <mat-form-field class="example-full-width">
          <mat-label>Price</mat-label>
          <input matInput placeholder="Ex. Pizza" formControlName="price">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Creat At</mat-label>
          <input matInput placeholder="Ex. Pizza" formControlName="createAt">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Update At</mat-label>
          <input matInput placeholder="Ex. Pizza" formControlName="updateAt">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Description</mat-label>
          <textarea matInput placeholder="Ex. It makes me feel..." formControlName="description"></textarea>
        </mat-form-field>
  </div>
  </div>
  <button mat-flat-button color="primary" *ngIf="!onCreateMode" (click)="onClickEdit()">{{ onEditMode ? "Cancel" : "Edit" }}</button>
  <button mat-button color="accent" *ngIf="onEditMode" (click)="onClickSave()">Save</button>
  <button mat-raised-button color="warn" *ngIf="!onCreateMode" (click)="onClickDelete()">Delete</button>
  <button mat-raised-button color="warn" *ngIf="onCreateMode">Create</button>
</form>
