<form class="example-form">
    <div class="cover">
      <picture>
        <source media='(min-width:0px)' srcset="https://material.angular.io/assets/img/examples/shiba2.jpg">
        <img mat-card-image src="" alt="Photo of a Shiba Inu">
      </picture>
    </div>
    <div class="detail">
      <div>
        <mat-form-field class="example-full-width">
            <mat-label>Title</mat-label>
            <input matInput placeholder="Ex. Pizza" value="Sushi">
          </mat-form-field>
      
          <mat-form-field class="example-full-width">
            <mat-label>Author</mat-label>
            <input matInput placeholder="Ex. Pizza" value="Sushi">
          </mat-form-field>
          
          <mat-form-field class="example-full-width">
            <mat-label>Pulic Year</mat-label>
            <input matInput placeholder="Ex. Pizza" value="Sushi">
          </mat-form-field>
          
          <mat-form-field class="example-full-width">
            <mat-label>Category</mat-label>
            <input matInput placeholder="Ex. Pizza" value="Sushi">
          </mat-form-field>
          
    </div>
    
    <div>
        <mat-form-field class="example-full-width">
            <mat-label>Price</mat-label>
            <input matInput placeholder="Ex. Pizza" value="Sushi">
          </mat-form-field>
          
          <mat-form-field class="example-full-width">
            <mat-label>Creat At</mat-label>
            <input matInput placeholder="Ex. Pizza" value="Sushi">
          </mat-form-field>
          
          <mat-form-field class="example-full-width">
            <mat-label>Update At</mat-label>
            <input matInput placeholder="Ex. Pizza" value="Sushi">
          </mat-form-field>
        
          <mat-form-field class="example-full-width">
            <mat-label>Description</mat-label>
            <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
          </mat-form-field>
    </div>
    </div>
  </form>