<div *ngIf="!(bookObs$ | async) && !onCreateMode" class="loading-spinner">
  <mat-spinner></mat-spinner>
</div>
<form class="example-form" [formGroup]="bookDetailForm" *ngIf="(bookObs$ | async) || onCreateMode">
  <div class="cover">
    <picture>
      <source media='(min-width:0px)' srcset="{{cover}}">
      <img mat-card-image src="" alt="Photo of {{bookData?.name ? bookData?.name : 'You'}}">
    </picture>
  </div>
  <div class="cover">
    <input type="file" [(ngModel)]="image" id="file" name="file" class="submit" accept="image/x-png,image/gif,image/jpeg" (change)="imageChange($event)" formControlName="cover" />
  </div>
  <div class="detail">
    <div>
      <mat-form-field appearance="outline" class="width-60">
          <mat-label>Title <span class="required">*</span></mat-label>
          <input matInput placeholder="book name" formControlName="name">
      </mat-form-field>

      <mat-form-field appearance="outline" class="width-30">
        <mat-label>Price<span class="required">*</span></mat-label>
        <input type="number" matInput placeholder="price" (focus)="onFocusPriceInput()" (focusout)="onFocusOutPriceInput()" formControlName="price">
      </mat-form-field>

      <mat-form-field appearance="outline" class="width-30">
        <mat-label>Author <span class="required">*</span></mat-label>
        <mat-select disableRipple formControlName="author" (selectionChange)="onSelected($event)">
          <mat-option *ngFor="let item of authorObs$ | async" [value]="item.id"> {{ item.name }} </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="width-60">
        <mat-label>Categories</mat-label>
        <mat-select multiple formControlName="categories" (selectionChange)="onSelected($event)">
          <mat-option *ngFor="let item of categoryObs$ | async" [value]="item.id">{{ item.name }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="width-60">
        <mat-label>Publisher <span class="required">*</span></mat-label>
        <input matInput placeholder="publisher" formControlName="publisher">
      </mat-form-field>

      <mat-form-field appearance="outline" class="width-30">
        <mat-label>Year</mat-label>
        <input matInput placeholder="year" type="number" restrict-to="[0-9]" (focus)="onFocusYearInput()" (focusout)="onFocusOutYearInput()" formControlName="year">
      </mat-form-field>

  </div>

  <div>
      <mat-form-field appearance="outline" class="example-full-width" style="max-height: 222px !important;">
        <mat-label>Description</mat-label>
        <textarea matInput placeholder="description..." formControlName="description"></textarea>
      </mat-form-field>
  </div>
  </div>
  <div *ngIf="user.role!=='USER'" class="button">
    <button mat-flat-button color="primary" *ngIf="!onCreateMode" (click)="onClickEdit()">{{ onEditMode ? "Cancel" : "Edit" }}</button>
    <button mat-button color="accent" *ngIf="onEditMode && !onCreateMode" [disabled]="!bookDetailForm.valid || noChange" (click)="onClickSave()">Save</button>
    <button mat-raised-button color="warn" *ngIf="!onCreateMode" (click)="onClickDelete()">Delete</button>
    <button mat-raised-button color="warn" *ngIf="onCreateMode" [disabled]="!bookDetailForm.valid" (click)="onClickCreate()">Create</button>
  </div>
</form>
