img {
  max-width: 200px;
}

textarea {
  height: 84px;
}

.example-form {
    min-width: 150px;
    width: 100%;
  }
  
.example-full-width {
width: 100%;
}

.cover {
  text-align: center;
}

.detail {
  display: flex;
}